.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.jw-svg-icon-play path {
    display: none;
}
.jw-svg-icon-play {
    background-image: url('./assests/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-button-image {
  background-image: url('./assests/like.svg') !important;
}
