.jw-svg-icon-play path {
    display: none;
}

.jw-svg-icon-play {
    background-image: url('./assests/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.not-liked-video .jw-button-image {
  background-image: url('./assests/nolike.svg') !important;
}

.liked-video .jw-button-image {
  background-image: url('./assests/like.svg') !important;
}
